useDynLib(psychonetrics, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(lavaan, lavCor, lavInspect)
exportPattern("^[[:alpha:]]+")
import(dplyr)
importFrom(abind, abind)
importFrom(matrixcalc,duplication.matrix,elimination.matrix,commutation.matrix)
import(Matrix)
importFrom(numDeriv, grad, jacobian, hessian)
importFrom(lavaan, lav_matrix_commutation)