importFrom(lavaan, lavCor, lavInspect)
exportPattern("^[[:alpha:]]+")
import(dplyr)
importFrom(abind, abind)
importFrom(matrixcalc,duplication.matrix,elimination.matrix,commutation.matrix)
import(Matrix)
importFrom(numDeriv, grad, jacobian, hessian)
importFrom(lavaan, lav_matrix_commutation)
importFrom(corpcor, pseudoinverse)
#importFrom(optimx, optimx)
import(ucminf)
import(glasso)
importFrom(qgraph,qgraph,wi2net)
importFrom("graphics", "abline", "par")
  importFrom("methods", "as", "is", "new")
  importFrom("stats", "nlminb", "pchisq", "pnorm", "qchisq", "runif",
             "uniroot")
  importFrom("utils", "sessionInfo")

importFrom("mgcv","uniquecombs")
importFrom("optimx","optimr")
importFrom("mvtnorm","rmvnorm")
importFrom("VCA","MPinv")